{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block body %}
    <h1>Stock</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stock.id }}</td>
            </tr>
            <tr>
                <th>DateFourni</th>
                <td>{{ stock.dateFourni ? stock.dateFourni|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFabrication</th>
                <td>{{ stock.dateFabrication ? stock.dateFabrication|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DatePeremption</th>
                <td>{{ stock.datePeremption ? stock.datePeremption|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ stock.quantite }}</td>
            </tr>
            <tr>
                <th>PrixAchat</th>
                <td>{{ stock.prixAchat }}</td>
            </tr>
            <tr>
                <th>PrixVente</th>
                <td>{{ stock.prixVente }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stock_index') }}">back to list</a>

    <a href="{{ path('app_stock_edit', {'id': stock.id}) }}">edit</a>

    {{ include('stock/_delete_form.html.twig') }}
{% endblock %}
